In [3]:
import pandas as pd
import numpy as np

goe = pd.read_csv("data/atmos_layers/after_goe.csv")
goe["N2"] = np.full(60, 0.781)
#goe["O2"] = goe["O2"] * 10
#goe.to_csv("data/atmos_layers/teste_goe.csv", index=False)

In [2]:
abun = goe.columns[2:]
goe[abun] = goe[abun].div(goe[abun].sum(axis=1), axis=0)
goe.tail()

,Pressure,Temperature,H2O,N2O,O3,CO,CO2,O2,CH4,N2
55,0.000291,195.502165,0.000093,0.0,1.056359e-09,0.000004,0.012299,0.024598,0.00246,0.960546
56,0.000252,195.562953,0.000102,0.0,3.719109e-10,0.000004,0.012299,0.024598,0.00246,0.960538
57,0.000219,195.623742,0.000111,0.0,0.000000e+00,0.000004,0.012299,0.024597,0.00246,0.960530
58,0.000190,195.684530,0.000119,0.0,0.000000e+00,0.000004,0.012299,0.024597,0.00246,0.960521
59,0.000164,195.745318,0.000128,0.0,0.000000e+00,0.000004,0.012299,0.024597,0.00246,0.960513

In [4]:
def molweight_after_goe() -> np.ndarray:
    molecular_weights = np.array([
        18.01528, 44.01280, 47.99820, 28.0101, 44.0095, 31.99880, 16.0425, 28.01340 
        ])
    return molecular_weights

In [5]:
goe[abun].apply(lambda row: sum(row[col] * molweight_after_goe()[i] for i, col in enumerate(abun)), axis=1).mean()

28.184248006183125